In [1]:
import pandas as pd

In [33]:
df=pd.read_csv('../data/auto.csv', index_col='ID')

In [34]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [35]:
df=df.drop_duplicates(keep='last', subset=['CarNumber', 'Make_n_model','Fines'])

In [36]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

In [37]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [39]:
df=df.dropna(axis=1,thresh=500)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [40]:
df['Refund'] = df['Refund'].fillna(method='ffill')

C:\Users\sofia\AppData\Local\Temp\ipykernel_14944\446498874.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Refund'] = df['Refund'].fillna(method='ffill')

In [41]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [42]:
df['Fines'] = df['Fines'].fillna(value=df['Fines'].mean())

In [43]:
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [50]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split())==2 else None)

In [54]:
df=df.drop(columns='Make_n_model')

In [55]:
df.to_json('../data/auto.json', orient='records')